/* @import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,700i") */

body {
  background-image: radial-gradient(circle at top left, #fbc2eb, #a6c1ee);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #6a6b6b;
}

.rectangle {
  height: 400px;
  width: 300px;
  background-color: rgb(250, 246, 250);
  border-radius: 7px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.title {
  text-align: center;
}

.button {
  text-align: center;
}
.input {
  text-align: center;
}

.border-button {
  /* padding: 1em 1.75em; */
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin: 0.25em;
  background: none;
  display: inline-block;
  color: orange;
  font-size: 20px;
  cursor: pointer;
  line-height: 1.6;
  text-decoration: none;
}
.border-button {
  box-shadow: 0px 0px 0px 3px orange;

  transition: 0.1s linear;
  margin: 0.5em;
}

.border-button:hover {
  box-shadow: 0px 0px 0px 5px orange;
  font-weight: bold;
}
